*.yml
database
fastapi/app/__pycache__/main.cpython-310.pyc
*.pyc
*/__pycache__*
*/bootstrap/css/bootstrap*
*/bootstrap/js/bootstrap*
snippet*
node_modules
package-lock.json
fastapi/app/__pycache__/main.cpython-310.pyc